html {
  font-family: 'Montserrat', sans-serif;
}

#planet-choices{
  display: flex;
  justify-content: space-around;
}

body {
  background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
}

h2 {
  font-family: 'Bowlby One SC', cursive;
  color: black;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
  text-align: center;
}

#planet-choices h4 {
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
  font-size: .8rem;
}

#fight-button {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

#the-real-button {
  background-color: yellow;
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 900;
  border-color: black
}

form {
  text-align: center;
}

#left-planet {
  width: 25rem;
  height: 25rem;
}

#right-planet {
  width: 25rem;
  height: 25rem;
}

#imageDiv{
  display: flex;
  justify-content: space-around;
}